@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), local("PlayfairDisplay"),
    url("fonts/PlayfairDisplay-Medium.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), local("PlayfairDisplay"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), local("PPNeueMontreal"),
    url("fonts/PPNeueMontreal-Light.woff2") format("woff2"),
    url("fonts/PPNeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), local("PPNeueMontreal"),
    url("fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 530;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal"), local("PPNeueMontreal"),
    url("fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("fonts/PPNeueMontreal-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: local("PP Neue Montreal Variable"), local("PPNeueMontreal-Variable"),
    url("fonts/PPNeueMontreal-Variable.woff2") format("woff2"),
    url("fonts/PPNeueMontreal-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
