extends ../base.pug 

block variables
  - var template = "models"

block content 
  main.models
    .models__wrapper 

    section.models__intro 
      .models__intro__wrapper 
        h5.models__inro__heading Our Models
        .models__intro__body 
          .models__intro__text
            | With a focus on retro and vintage looks, Crane have talented models who can bring a sense of nostalgia and authenticity to their photoshoots and runway shows.
          .models__intro__displays 
            p.models__intro__display List
            p.models__intro__display Grid
            p.models__intro__display Editorial

            
      section.models__about
        .models__about__bios 
          .models__about__bio
            figure.models__about__media
            h4.models__about__name Ayoola
            p.models__about__country NG
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name Davidella
            p.models__about__country US
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name Stephine
            p.models__about__country JP
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name Olacodes
            p.models__about__country NG
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name Gwen
            p.models__about__country SA
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name Chisom
            p.models__about__country CA
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name Juane
            p.models__about__country NPR
          .models__about__bio 
            figure.models__about__media
            h4.models__about__name David
            p.models__about__country NPR
